<style>
    .cus_banner{
        display: flex;
        flex-direction: row;
    }
    .banner_announcement{
        display: flex;
    }
</style>
<div class="cus_banner">
    {% comment %} announcement bar {% endcomment %}
    <div class="banner_announcement">
        <div class="b_logo">TISSO VISON</div>
        <div class="announcement_text">Find the ideal gift for your loved ones.</div>
        <div class="b_button cus_button"><a href="#">CHOOSE GIFT</a></div>
    </div>

    {% comment %} Banner section {% endcomment %}
    <div class="banner_image">
        <img src="/image">
    </div>
    <div class="image-with-text">
        <div class="image-with-text-textBox">
           <h2>The Gift Guide</h2>
           <p>Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>
           <a href="#" class="cus_button">Shop Now</a>
        </div>
        <div class="image-with-text-img">
           <img src="/image"> 
        </div> 
    </div>     
</div>